*{
	/* box-shadow: 0px 0px 2px rgba(255, 0,0, 1);
     */
    font-family: 'Darker Grotesque' !important;

}
 

@font-face {
    font-family: 'Darker Grotesque';
    src: url('assets/DarkerGrotesque-VariableFont_wght.ttf') format('truetype');
    }
        

.ant{
padding: 0 0 0 0 !important;
margin: 0 0 0 0 !important;
max-width: 45%;
}

header{
    position: fixed;
    min-width: 100%;
}



.red{
    background-color: #A8B0BF !important;
    position: relative;
    background-size: 55%;
    padding: 7.5%;
    line-height: 0.9em !important;
    color: #212126;
    font-size: 1.5em;
    line-height: 0.4em !important;

}

.red p{
    padding: 30 30 30 30;
}

.masthead {
    background-color: #212126;
	
    /* background-size 5%; */ 
	background-repeat: no-repeat;
	background-position: right;
	background-size: 55%;
    min-height: 93vh;
	/* max-width: 120%; */
    
    color: #D9D9D9;
    
}

#des{
    padding-right: 2%;
    margin-top: %;
}

nav{
    position: end !important;
}

nav.bg-dark{
	background: #212126 !important;
	
}

h1 {
    line-height: 0.8em !important;
    font-size: 6rem;
    padding: 25% 10% 0 0 !important;
    margin:  0 10% 10% !important;
}

h2 {
    line-height: 0.8em !important;
    font-size: 3rem;
    padding: 0 0 0 0 !important;
    margin: 10% 0 20% 10% !important;
}




/* .color-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
} */

@media (max-width: 768px) {
    .masthead {
        min-height: 25vh;
		max-width: 100%;
		background-size: 100%;
		text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    }
    h1 {
    font-size: 5rem;
     padding:  !important;
     margin:    !important;
     max-width: 100% !important;
    }
	h2 {
		padding: 5% 0 5% 10% ;
        max-width: 100% !important;
        margin: 10% 10% 15% 10% !important;
	   }
    .ant{
        max-width: 100% !important;
        padding: 0 0 10 10 !important;
        min-height: 100% !important;
    }
    .conteiner-fluid{
        min-height: 100% !important;
    }
    
    .red{
        background-color: #A8B0BF !important;
        position: relative;
        background-size: 10%;
        padding: 7% 20% 10% 10%;
        line-height: 0.9em !important;
    }
    
}
